<div class="container" ng-controller="TimelineCtrl">
    <div class="row">
    <div class="col-sm-3 dashboard-navigation">
        <h2>Timeline</h2>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="(month, entries) in allEntries()" ng-class="{active: selectedMonth == month}" >
                <a class="btn-fake" ng-click="selectMonth(month)">{{latestMonth() == month ? "Latest" : month}} <span class="badge">{{entries.length}}</span></a>
            </li>
            <li ng-if="!latestMonth()" class="active">
                <a class="btn-fake">Latest <span class="badge">0</span></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="dashboard-view-container">
            <div class="dashboard-ui-view" ui-view></div>
        </div>
    </div>
    </div>
</div>