<!doctype html>
<html>
 <head>
   <title>VidJou</title>
   <base href="/">
   <%= stylesheet_link_tag 'application', media: 'all' %>
   <%= javascript_include_tag 'application' %>
   <%= csrf_meta_tags %>
   <script src="https://checkout.stripe.com/checkout.js"></script>
   <script>jwplayer.key="qGjbIcMfLuFIC3UcYh39IQ3kxdhw5SvXa7fBRQ==";</script>
 </head>
 <body ng-app="mainApp">
   <div ng-include="'navbar.html'"></div>
   <div class="main-view-container" ui-view>
   </div>
   <div class="rails-output">
   	<%= yield %>
   </div>
 </body>
</html>